@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

.footer {

    background: var(--cor-5);
    margin: auto;
    display: flex;
    padding: 1%;
    height: 200px;
    background-color: var(--cor-2);
    width: 98.5%;
    align-items: center;
    font-family: "Roboto", sans-serif;
    margin-top: 200px;
    margin-bottom: 50px;
    border-top: 1px solid rgb(201, 199, 199);
    padding-top: 7%;
}

.footer img {

    width: 100px;
    height: 100px;
    margin-right: 200px;
    margin-bottom: -20px;
}

p:hover {

    text-decoration: underline;
}

.footer .logo {

    width: 12%;
    font-size: 15px;
    margin-left: 80px;
}

.footer .suporte {

    margin-left: 580px;
}

.footer .termos,
.footer .contatos {

    display: block;
    margin-left: 80px;
}