@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

*:focus {

    outline: none;
}

nav {

    display: flex;
    font-family: "Roboto", sans-serif;
    background-color: var(--cor-2);
    width: 100%;
}

img {

    height: 150px;
    width: 230px;
    margin-top: -10px;
    margin-right: -120px;
}

img:hover {

    opacity: 60%;
    transition: 0.5s;
}

.links {

    display: flex;
    margin: auto;
    justify-content: center;
}

.links a {

    color: var(--cor-3);
    font-size: 20px;
    margin-left: 60px;
    cursor: pointer;
}

.links a:hover {

    color: var(--cor-4);
    font-size: 20.8px;
    transition: 0.5s;
}

.links button {

    background-color: var(--cor-4);
    color: var(--cor-2);
    border: 1px solid;
    justify-content: center;
    margin: auto;
    font-size: 16px;
    font-weight: bold;
    margin-left: 200px;
    margin-right: -560px;
    border-radius: 6px;
    margin-top: -8px;
    width: 100px;
    height: 35px;
}

.links button:hover {

    background-color: var(--cor-2);
    color: var(--cor-4);
    transition: 0.5s;
}