@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --cor-1: #e23e57;
    --cor-2: #ffffff;
    --cor-3: #e96a7e;
    --cor-4: #ce1f3a;
    --cor-5: #e6e6e6;
    --cor-6: #ef97a4;
}

*:hover {

    outline: none;
    cursor: pointer;
}

.divMaior {

    display: flex;
    font-family: "Roboto", sans-serif;
    margin-top: 30px;
    flex-wrap: wrap;
}

.divText {

    display: flex;
    flex-wrap: wrap;
    width: 30%;
    margin-left: 80px;
    margin-top: 100px;
}

.divText h1 {

    font-size: 45px;
    width: 100%;
    color: var(--cor-1);
}

.divText h3 {

    font-size: 25px;
    color: var(--cor-4);
    width: 300px;
}

.divText .text {

    height: 300px;
    display: flex;
}

.divText img {

    border-radius: 5px;
    width: 220px;
    height: 140px;
    margin-top: 28px;
    opacity: 100%;
}

.divText button {

    background-color: var(--cor-4);
    color: var(--cor-2);
    border: 1px solid;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    margin-right: -300px;
    border-radius: 6px;
    margin-top: -8px;
    width: 200px;
    height: 35px;
}

.divText button:hover {

    background-color: var(--cor-2);
    color: var(--cor-4);
    transition: 0.5s;
}

.divPlaca {

    margin: auto;
    width: 10%;
    margin-left: 392px;
    margin-bottom: 50px;
}

.divPlaca img {

    width: 520px;
    height: 490px;
    opacity: 40%;
    border: 1px solid grey;
    border-radius: 6px;
    margin-top: 15px;
}

.divPromocoes {

    display: block;
    flex-direction: row;
    margin-top: 100px;
}

.divPromocoes h1 {

    font-size: 35px;
    width: 100%;
    color: var(--cor-1);
    margin-left: 40px;
}

.divCamisetas {

    display: flex;
}

.camisetas {

    margin-top: 50px;
    display: flex;
    font-weight: bold;
}

p,
h2 {

    color: var(--cor-4);
}

.camisetas .camisetaP {

    margin-left: 100px;
    box-shadow: 2px 4px 5px black;
    border-radius: 5px;
    padding: 0.5%;
    height: 210px;
}

.camisetas .camisetaG {

    margin-left: 400px;
    padding: 0.5%;
    height: fit-content;
    width: 200px;
    margin-top: -40px;
    display: flex;
}

.camisetaP:hover {

    background-color: var(--cor-5);
    transition: 1s;
}

.camisetaG img {

    width: 350px;
    height: 350px;
}

.camisetaG button {

    background-color: var(--cor-4);
    color: var(--cor-2);
    border: 1px solid;
    justify-content: center;
    margin: auto;
    font-size: 20px;
    font-weight: bold;
    border-radius: 6px;
    margin-top: -8px;
    margin-left: -317px;
    width: 200px;
    height: 35px;
}

.camisetaG button:hover {

    background-color: var(--cor-2);
    color: var(--cor-4);
    transition: 0.5s;
}

.camisetaG h2 {

    font-size: 35px;
    margin-right: 10px;
    margin-left: -350px;
}

.camisetas .camisetaP img {

    width: 160px;
    height: 120px;
    opacity: 75%;
}